node-red-example/dashboard.json
[{"id":"e038a19f.43f8a","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"8a016d8e.03a5d","type":"mqtt in","z":"e038a19f.43f8a","name":"","topic":"smart_water/49","qos":"2","datatype":"auto","broker":"48a3f9f3.a45628","x":200,"y":200,"wires":[["89348bbe.75d6d8","c0819518.260258"]]},{"id":"89348bbe.75d6d8","type":"debug","z":"e038a19f.43f8a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":120,"wires":[]},{"id":"c0819518.260258","type":"json","z":"e038a19f.43f8a","name":"","property":"payload","action":"","pretty":false,"x":420,"y":220,"wires":[["a8db609c.2b8de","6490ba1a.306664","7cb00b62.7abfa4","9577e503.c56448","7f166278.f5681c"]]},{"id":"a8db609c.2b8de","type":"debug","z":"e038a19f.43f8a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":160,"wires":[]},{"id":"6490ba1a.306664","type":"ui_gauge","z":"e038a19f.43f8a","name":"Batterylevel","group":"910dd03a.4ac41","order":5,"width":0,"height":0,"gtype":"gage","title":"Battery Level","label":"","format":"{{msg.payload.SensorData.Batterylevel}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":240,"wires":[]},{"id":"7cb00b62.7abfa4","type":"ui_gauge","z":"e038a19f.43f8a","name":"WaterpH","group":"910dd03a.4ac41","order":1,"width":0,"height":0,"gtype":"gage","title":"WaterpH","label":"units","format":"{{msg.payload.SensorData.WaterpH}}","min":"-10","max":"14","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":300,"wires":[]},{"id":"d14dad93.08d41","type":"inject","z":"e038a19f.43f8a","name":"Flush","topic":"battery","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":440,"wires":[["c5972cd1.1022a"]]},{"id":"c5972cd1.1022a","type":"function","z":"e038a19f.43f8a","name":"Flush","func":"msg.payload = []\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":440,"wires":[["6ddcce7b.0a832"]]},{"id":"9577e503.c56448","type":"function","z":"e038a19f.43f8a","name":"Temperature","func":"data = parseFloat(msg.payload.SensorData.WaterTemperature)\n\nmsg.topic = \"temperature\";\n\nmsg.payload = data;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":380,"wires":[["6ddcce7b.0a832","e0b10073.2cf5e"]]},{"id":"6ddcce7b.0a832","type":"ui_chart","z":"e038a19f.43f8a","name":"Water Temperature","group":"910dd03a.4ac41","order":3,"width":0,"height":0,"label":"Water Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":910,"y":380,"wires":[[]]},{"id":"e0b10073.2cf5e","type":"debug","z":"e038a19f.43f8a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":840,"y":320,"wires":[]},{"id":"7f166278.f5681c","type":"function","z":"e038a19f.43f8a","name":"WaterpH","func":"data = parseFloat(msg.payload.SensorData.WaterpH)\n\nmsg.topic = \"temperature\";\n\nmsg.payload = data;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":540,"wires":[["a6c0fc73.28e26"]]},{"id":"a6c0fc73.28e26","type":"ui_chart","z":"e038a19f.43f8a","name":"","group":"910dd03a.4ac41","order":2,"width":0,"height":0,"label":"Water PH","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"14","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":890,"y":540,"wires":[[]]},{"id":"48a3f9f3.a45628","type":"mqtt-broker","z":"","name":"pico2","broker":"192.168.9.20","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"910dd03a.4ac41","type":"ui_group","z":"","name":"Default","tab":"ddca4842.60a8c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"ddca4842.60a8c8","type":"ui_tab","z":"","name":"La Marina Demo Application","icon":"dashboard","order":3,"disabled":false,"hidden":false}]