node-red-example/dashboard.json
[{"id":"17c74635.58671a","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"b9ef12df.7b437","type":"mqtt in","z":"17c74635.58671a","name":"","topic":"smart_water/49","qos":"2","datatype":"auto","broker":"b926c493.ccf5b8","x":200,"y":200,"wires":[["e454e996.853328","2c03ebf.f515e14"]]},{"id":"e454e996.853328","type":"debug","z":"17c74635.58671a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":120,"wires":[]},{"id":"2c03ebf.f515e14","type":"json","z":"17c74635.58671a","name":"","property":"payload","action":"","pretty":false,"x":420,"y":220,"wires":[["fea81430.7ab888","fc9e6c01.efd29","925c7921.41a3e8","58961e6b.8e712","baa14367.e85d8"]]},{"id":"fea81430.7ab888","type":"debug","z":"17c74635.58671a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":160,"wires":[]},{"id":"fc9e6c01.efd29","type":"ui_gauge","z":"17c74635.58671a","name":"Batterylevel","group":"40fac85e.ed8bc8","order":5,"width":0,"height":0,"gtype":"gage","title":"Battery Level","label":"","format":"{{msg.payload.SensorData.Batterylevel}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":240,"wires":[]},{"id":"925c7921.41a3e8","type":"ui_gauge","z":"17c74635.58671a","name":"WaterpH","group":"40fac85e.ed8bc8","order":1,"width":0,"height":0,"gtype":"gage","title":"WaterpH","label":"units","format":"{{msg.payload.SensorData.WaterpH}}","min":"-10","max":"14","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":300,"wires":[]},{"id":"1878cdf.89d5e32","type":"inject","z":"17c74635.58671a","name":"Flush","topic":"battery","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":440,"wires":[["6c622800.06d5a8"]]},{"id":"6c622800.06d5a8","type":"function","z":"17c74635.58671a","name":"Flush","func":"msg.payload = []\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":440,"wires":[["3dae4613.771d8a"]]},{"id":"58961e6b.8e712","type":"function","z":"17c74635.58671a","name":"Temperature","func":"data = parseFloat(msg.payload.SensorData.WaterTemperature)\n\nmsg.topic = \"temperature\";\n\nmsg.payload = data;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":380,"wires":[["3dae4613.771d8a","34de7ea4.974a12"]]},{"id":"3dae4613.771d8a","type":"ui_chart","z":"17c74635.58671a","name":"Water Temperature","group":"40fac85e.ed8bc8","order":3,"width":0,"height":0,"label":"Water Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":910,"y":380,"wires":[[]]},{"id":"34de7ea4.974a12","type":"debug","z":"17c74635.58671a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":840,"y":320,"wires":[]},{"id":"baa14367.e85d8","type":"function","z":"17c74635.58671a","name":"WaterpH","func":"data = parseFloat(msg.payload.SensorData.WaterpH)\n\nmsg.topic = \"temperature\";\n\nmsg.payload = data;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":540,"wires":[["e85c4ccc.5e0fe"]]},{"id":"e85c4ccc.5e0fe","type":"ui_chart","z":"17c74635.58671a","name":"","group":"40fac85e.ed8bc8","order":2,"width":0,"height":0,"label":"Water PH","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"14","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":890,"y":540,"wires":[[]]},{"id":"b926c493.ccf5b8","type":"mqtt-broker","z":"","name":"pico2","broker":"192.168.9.20","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"40fac85e.ed8bc8","type":"ui_group","z":"","name":"Default","tab":"968f28df.1022a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"968f28df.1022a8","type":"ui_tab","z":"","name":"La Marina Demo Application","icon":"dashboard","order":3,"disabled":false,"hidden":false}]