node-red-example/influxdb_access.json
[{"id":"10b2171.cd896e9","type":"tab","label":"InfluxDB access","disabled":false,"info":""},{"id":"2e1f46ad.53843a","type":"debug","z":"10b2171.cd896e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":140,"wires":[]},{"id":"6bddc639.88a0c8","type":"debug","z":"10b2171.cd896e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":240,"wires":[]},{"id":"87f2cb58.d95618","type":"debug","z":"10b2171.cd896e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":340,"wires":[]},{"id":"f5ac9464.8d5378","type":"inject","z":"10b2171.cd896e9","name":"click","topic":"people_counter/70","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":140,"wires":[["79548a30.28ce54"]]},{"id":"c91cdb76.bc5dd8","type":"inject","z":"10b2171.cd896e9","name":"5s / query","topic":"indoor_env/77","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"5","x":190,"y":240,"wires":[["59b8841e.8d0ddc"]]},{"id":"917de95c.09f258","type":"inject","z":"10b2171.cd896e9","name":"1min/query","topic":"wind/73-3","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":340,"wires":[["401fbce5.b5b014"]]},{"id":"79548a30.28ce54","type":"influxdb in","z":"10b2171.cd896e9","influxdb":"8d93dce1.f803c","name":"people_counter/70","query":"select * from people_counter limit 5;","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":430,"y":140,"wires":[["2e1f46ad.53843a"]]},{"id":"59b8841e.8d0ddc","type":"influxdb in","z":"10b2171.cd896e9","influxdb":"a06ad0ae.79b7d","name":"indoor_env/77","query":"select * from indoor_env limit 5;","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":420,"y":240,"wires":[["6bddc639.88a0c8"]]},{"id":"401fbce5.b5b014","type":"influxdb in","z":"10b2171.cd896e9","influxdb":"aa16f419.58f9c8","name":"wind/73-3","query":"select * from wind limit 5;","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":400,"y":340,"wires":[["87f2cb58.d95618"]]},{"id":"8d93dce1.f803c","type":"influxdb","z":"","hostname":"192.168.9.10","port":"8086","protocol":"http","database":"sensor_data","name":"pico1_influxdb","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"a06ad0ae.79b7d","type":"influxdb","z":"","hostname":"192.168.9.20","port":"8086","protocol":"http","database":"sensor_data","name":"pico2_influxdb","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"aa16f419.58f9c8","type":"influxdb","z":"","hostname":"192.168.9.30","port":"8086","protocol":"http","database":"sensor_data","name":"pico3_influxdb","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]