node-red-example/influxdb_access.json
[{"id":"ce91b10d.73398","type":"tab","label":"InfluxDB access","disabled":false,"info":""},{"id":"66d78a1.73f7c74","type":"influxdb in","z":"ce91b10d.73398","influxdb":"8ab91a0.34b01e8","name":"people_counter/70","query":"select * from people_counter limit 5;","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":430,"y":140,"wires":[["c14246fd.4b1518"]]},{"id":"c14246fd.4b1518","type":"debug","z":"ce91b10d.73398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":140,"wires":[]},{"id":"f71bbe00.a40d5","type":"influxdb in","z":"ce91b10d.73398","influxdb":"57711221.890dec","name":"indoor_env/77","query":"select * from indoor_env limit 5;","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":420,"y":240,"wires":[["f9d400af.c9272"]]},{"id":"f9d400af.c9272","type":"debug","z":"ce91b10d.73398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":240,"wires":[]},{"id":"ab687140.e8b4a","type":"influxdb in","z":"ce91b10d.73398","influxdb":"4e9535a3.46cc1c","name":"wind/73-3","query":"select * from wind limit 5;","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":400,"y":340,"wires":[["145c150.e854deb"]]},{"id":"145c150.e854deb","type":"debug","z":"ce91b10d.73398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":340,"wires":[]},{"id":"ed60b6f1.597598","type":"inject","z":"ce91b10d.73398","name":"click","topic":"people_counter/70","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":140,"wires":[["66d78a1.73f7c74"]]},{"id":"f6ccb8f3.1f5968","type":"inject","z":"ce91b10d.73398","name":"5s / query","topic":"indoor_env/77","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"5","x":190,"y":240,"wires":[["f71bbe00.a40d5"]]},{"id":"41b396b4.fd7718","type":"inject","z":"ce91b10d.73398","name":"1min/query","topic":"wind/73-3","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":340,"wires":[["ab687140.e8b4a"]]},{"id":"8ab91a0.34b01e8","type":"influxdb","z":"","hostname":"192.168.9.10","port":"8086","protocol":"http","database":"sensor_data","name":"server1","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"57711221.890dec","type":"influxdb","z":"","hostname":"192.168.9.20","port":"8086","protocol":"http","database":"sensor_data","name":"server2","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"4e9535a3.46cc1c","type":"influxdb","z":"","hostname":"192.168.9.30","port":"8086","protocol":"http","database":"sensor_data","name":"server3","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]