node-red-example/mqtt_access.json
[{"id":"69d9486d.1d5828","type":"tab","label":"MQTT access","disabled":false,"info":""},{"id":"b96ccd05.ba447","type":"mqtt in","z":"69d9486d.1d5828","name":"","topic":"indoor_env/77","qos":"2","datatype":"auto","broker":"8e4ef0a9.7d28a","x":170,"y":260,"wires":[["9cbe42c4.90cd6"]]},{"id":"9cbe42c4.90cd6","type":"debug","z":"69d9486d.1d5828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":380,"y":260,"wires":[]},{"id":"d0cbcbea.61e1f8","type":"mqtt in","z":"69d9486d.1d5828","name":"","topic":"wind/73-3","qos":"2","datatype":"auto","broker":"7c113d37.91daf4","x":160,"y":340,"wires":[["e75d0d56.69e7d"]]},{"id":"e75d0d56.69e7d","type":"debug","z":"69d9486d.1d5828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":340,"wires":[]},{"id":"d70c1bc1.5e80f8","type":"mqtt in","z":"69d9486d.1d5828","name":"","topic":"people_counter/70","qos":"2","datatype":"auto","broker":"47c4356b.ef3f4c","x":190,"y":180,"wires":[["f1e10b83.6e2908"]]},{"id":"f1e10b83.6e2908","type":"debug","z":"69d9486d.1d5828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":420,"y":180,"wires":[]},{"id":"8e4ef0a9.7d28a","type":"mqtt-broker","z":"","name":"pico2","broker":"192.168.9.20","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7c113d37.91daf4","type":"mqtt-broker","z":"","name":"pico3","broker":"192.168.9.30","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"47c4356b.ef3f4c","type":"mqtt-broker","z":"","name":"pico1","broker":"192.168.9.10","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]