node-red-example/postgres_access.json
[{"id":"73227512.8474ec","type":"tab","label":"Postgres access","disabled":false,"info":""},{"id":"dc76372e.0c4a38","type":"postgrestor","z":"73227512.8474ec","name":"sea current","query":"select * from marina_current_profile limit 5;","postgresDB":"39a00750.02bdf8","output":true,"outputs":1,"x":350,"y":140,"wires":[["fbe03889.113f68"]]},{"id":"894224d9.9f8a98","type":"postgrestor","z":"73227512.8474ec","name":"sea wave","query":"select * from marina_sea_wave limit 5 ;","postgresDB":"39a00750.02bdf8","output":true,"outputs":1,"x":360,"y":240,"wires":[["6237ea48.a9ab24"]]},{"id":"2b4e8af.feeed76","type":"inject","z":"73227512.8474ec","name":"click","topic":"sea current","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":140,"wires":[["dc76372e.0c4a38"]]},{"id":"bdd2006c.8b41c","type":"inject","z":"73227512.8474ec","name":"5s / query","topic":"sea_wave","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":240,"wires":[["894224d9.9f8a98"]]},{"id":"fbe03889.113f68","type":"debug","z":"73227512.8474ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.rows","targetType":"msg","x":610,"y":140,"wires":[]},{"id":"6237ea48.a9ab24","type":"debug","z":"73227512.8474ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.rows","targetType":"msg","x":610,"y":240,"wires":[]},{"id":"39a00750.02bdf8","type":"postgresDB","z":"","name":"postgresDB","host":"192.168.9.71","port":"5432","database":"marina_test","ssl":false,"max":"10","min":1,"idle":"1000"}]