node-red-example/postgres_access.json
[{"id":"a4d03a5c.c12cc8","type":"tab","label":"Postgres access","disabled":false,"info":""},{"id":"1ccc601b.8de22","type":"postgrestor","z":"a4d03a5c.c12cc8","name":"sea current","query":"select * from marina_profile_080321 limit 5;","postgresDB":"bcc4ffc0.9c9f8","output":true,"outputs":1,"x":350,"y":140,"wires":[["fb2815e7.c3f258"]]},{"id":"142369d2.4358e6","type":"postgrestor","z":"a4d03a5c.c12cc8","name":"sea wave","query":"select * from marina_awac_wave_data_080321_2 limit 5 ;","postgresDB":"bcc4ffc0.9c9f8","output":true,"outputs":1,"x":360,"y":240,"wires":[["70c3a529.aa323c"]]},{"id":"3b5cf335.56e3fc","type":"inject","z":"a4d03a5c.c12cc8","name":"click","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":140,"wires":[["1ccc601b.8de22"]]},{"id":"3b3f1b40.18b014","type":"inject","z":"a4d03a5c.c12cc8","name":"5s / query","topic":"sea_wave","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":240,"wires":[["142369d2.4358e6"]]},{"id":"fb2815e7.c3f258","type":"debug","z":"a4d03a5c.c12cc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.rows","targetType":"msg","x":610,"y":140,"wires":[]},{"id":"70c3a529.aa323c","type":"debug","z":"a4d03a5c.c12cc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.rows","targetType":"msg","x":610,"y":240,"wires":[]},{"id":"bcc4ffc0.9c9f8","type":"postgresDB","z":"","name":"postgresDB","host":"192.168.9.71","port":"5432","database":"marina_test","ssl":false,"max":"10","min":1,"idle":"1000"}]